#inputArea {
    display: inline-block !important;
}
.navbar-inner {
    padding-left: 325px !important;
}
table, td {
    overflow: hidden;
}
#delete {
    margin-bottom: 10px;
}

/* Shows items marked for deletion */
.marked {
    font-style: italic;
    opacity: 0.5;
    transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
}